---
import { iconPaths, type IconName } from "../../icons/registry";

interface Props {
  name: IconName;
  size?: number;
  class?: string;
}

const { name, size = 20, class: className } = Astro.props;
---

<span
  class:list={["v-icon", className]}
  style={`--icon-size: ${size}px`}
  aria-hidden="true"
>
  <svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
    <Fragment set:html={iconPaths[name]} />
  </svg>
</span>

<style>
  .v-icon {
    display: block;
    width: var(--icon-size);
    height: var(--icon-size);
    flex-shrink: 0;
    line-height: 0;
  }

  .v-icon :global(svg) {
    display: block;
    width: 100%;
    height: 100%;
    overflow: visible;
  }
</style>
